:root {
  --main-font: 'Macho', Arial, Helvetica, sans-serif;
  --secondary-font: 'Circe Slab C', Arial, Helvetica, sans-serif;
  --font-size: 18px;
  --font-size-md: 22px;
  --font-size-lg: 30px;
  --font-weight: 500;
  --font-weight-bold: bold;
  --font-style: regular;
  --red: #ed2128;
  --blue: #2aa9e0;
  --light-blue: #dbf3fc;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--light-blue);
  overflow-x: hidden;
}
