.character {
  width: 100%;
  min-height: 100%;
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.character-box {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  background: var(--red);
}

.character-content {
  text-align: center;
}

/* Tablet Size */
@media only screen and (min-width: 760px) {
  .character {
    width: 95vw;
    max-height: 100vh;
  }

  .character-box {
    width: 20vw;
    height: 30vh;
  }
}

/* Desktop Size */
@media only screen and (min-width: 1366px) {
  .character {
    max-width: 100%;
    max-height: 100vh;
  }

  .character-box {
    width: 20vw;
    height: 30vh;
  }
}
