.character {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.character-box {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  background: var(--red);
}

.character-content {
  text-align: center;
}

/* Larger Than Mobile */
@media screen and (min-width: 760px) {
  .character {
    max-height: 100vh;
  }

  .character-box {
    width: 20vw;
    height: 30vh;
  }
}
