.form {
  width: 50vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background: red;
}

label,
input,
textarea {
  width: 100%;
}

input,
textarea {
  margin: 1rem 0;
}
