form {
  width: 100%;
  padding: 2rem;
  background: var(--light-dark);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

label,
input,
textarea {
  width: 100%;
}

input,
textarea {
  margin: 1rem 0;
}

/* Tablet Size */
@media only screen and (min-width: 768px) {
}
