/* Header, Logo, and Navigation */
header {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

header.container,
.navbar-responsive {
  padding: 0;
}

nav.navigation {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

a#logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a#logo img {
  width: 50%;
}

nav ul.navbar-responsive {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

nav ul.navbar-responsive li {
  padding: 1rem;
}

nav ul.navbar-responsive li a {
  font-size: var(--font-size-md);
  text-align: center;
}

/* Tablet Size */
@media only screen and (min-width: 760px) {
  header {
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid white;
    z-index: 100;
  }

  header.container {
    padding: 0;
  }

  nav.navigation {
    max-height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  a#logo {
    width: 50%;
  }

  nav ul.navbar-responsive {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

/* Desktop Size */
@media only screen and (min-width: 1366px) {
  nav.navigation {
    max-height: 18vh;
  }

  a#logo {
    max-width: 25%;
  }

  nav ul.navbar-responsive {
    justify-content: flex-end;
  }

  nav ul.navbar-responsive li {
    margin: 0 1.8rem;
  }

  nav ul.navbar-responsive li:last-child {
    margin: 0;
  }
}
