.navbar-img {
  width: 150px;
  height: 150px;
}

.navbar-custom {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-custom a {
  margin-right: 2rem;
  font-size: var(--font-size-md);
}
