.showcase {
  background: var(--light-dark);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.showcase img {
  width: 75%;
}

.showcase-img {
  width: 100%;
  margin: 1rem 0;
}

.showcase-text {
  width: 100%;
  padding: 2rem;
  color: white;
  text-align: center;
}

/* Tablet Territory */
@media only screen and (min-width: 768px) {
  .showcase {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 2rem;
    text-align: center;
  }

  .showcase-img {
    width: 35%;
    margin: 1rem;
  }

  .showcase-text {
    width: 50%;
  }
}

/* Desktop Territory */
@media only screen and (min-width: 1366px) {
  .showcase {
    height: auto;
  }

  .showcase img {
    width: 25%;
  }

  .showcase-text {
    padding: 3rem;
  }
}
